{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="{%  static 'script.js' %}"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">

<!-- Import another css links -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <title>Smart Clinic</title>
</head>
<body>

    <!-- Page header -->
    <div class="page-header">
        <div class="logo">
            <p>Smart Clinic</p>
        </div>
        <a id="menu-icon" class="menu-icon" onclick="onMenuClick()">
            <i class="fa fa-bars"></i>
        </a>

        <div id="navigation-bar" class="nav-bar">
            <a href="#" class="ative">Home</a>
            <a href="#">About</a>
            <a href="#">Contact us</a>
        </div>

        <div class="header-right">
            <button>Sign in</button>
        </div>
    </div>

</body>
</html>