{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'style.css' %}">

<!-- Import another css links -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <title>Smart Clinic</title>
</head>
<body>

    <!-- Page header -->
    <div class="page-header">
        <div class="logo">
            <p>Smart Clinic</p>
        </div>
        <a id="menu-icon" class="menu-icon" onclick="onMenuClick()">
            <i class="fa fa-bars"></i>
        </a>

        <div id="navigation-bar" class="nav-bar">
            <a href="#" class="ative">Home</a>
            <a href="#">About</a>
            <a href="#">Contact us</a>
        </div>

        <div class="header-right">
            <button>Sign in</button>
        </div>
    </div>

    <!-- Page Slider -->
    <div class="slider">
        <img id="img1" src="{% static 'img/img1.jpg' %}" alt="Image 1"/>
        <img id="img2" src="{% static 'img/img2.jpg' %}" alt="Image 2"/>
        <img id="img3" src="{% static 'img/img3.jpg' %}" alt="Image 3"/>
    </div>
    <div class="navigation-btn">
        <span class="dot active" onclick="changeSlide(0)"></span>
        <span class="dot" onclick="changeSlide(1)"></span>
        <span class="dot" onclick="changeSlide(2)"></span>
    </div>

    <script src="{% static 'script.js' %}"></script>

</body>
</html>