{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smartclinic Landing Page</title>
    <script src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<body>

    <div class="wrapper">
    <h2>Registration</h2>
    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Enter your name" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your email" required>
      </div>

      <div class="input-box password-input">
            <input type="password" id="password" placeholder="Create password" required>
            <i class="fas fa-eye-slash toggle-password" onclick="togglePassword('password')"></i>
        </div>
            <div class="input-box password-input">
            <input type="password" id="confirm-password" placeholder="Confirm password" required>
        <i class="fas fa-eye-slash toggle-password" onclick="togglePassword('confirm-password')"></i>
      </div>

      <div class="policy">
        <input type="checkbox">
        <h3>I accept all <a href="#">terms & condition</a></h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="#">Login now</a></h3>
      </div>
    </form>
  </div>

</body>
</html>