/* Normal Desktop Screen */
:root {
    --bgcolor: #36454F;
}

* {
    margin: 0;
    padding: 0;
}

.page-header {
    background-color: var(--bgcolor);
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    align-self: center;
    margin-left: 1.2rem;
    font-size: 2.5rem;
}

.nav-bar a{
    color: white;
    padding: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}

button {
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.9rem;
}

/* For Slider */
.slider {
    width: 100%;
    height: 510px;
    position: relative;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}

.slider img:first-child {
    opacity: 1;
    z-index: 1;
}

.slider img:nth-child(2) {
    z-index: 0;
}

.navigation-button {
    text-align: center;
    position: relative;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* For Responsive Screen: meaning that it also works for mobile devices screen */
@media screen and (max-width: 600px) {
    .nav-bar {
        display: none;
        position: absolute;
        top: 3.7rem;
        left: 0;
        width: 100%;
        background-color: var(--bgcolor);
        text-align: center;
    }

    .nav-bar.responsive {
        display: block;
    }

    .nav-bar a {
        display: block;
    }

    .menu-icon {
        display: block;
        z-index: 1;
    }

    button {
        padding: 0.4rem;
    }

    .logo {
        font-size: 1.4rem;
    }
}